@model Simpleloginsystem.Models.UserContext

@{
    ViewBag.Title = "EmailNotVerified";
}

<h2>EmailNotVerified</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
        <div class="editor-label">
         @ViewBag.Message;
        </div>
}
